*{
    font-family:Arial, Helvetica, sans-serif;
}
table{
    border-color: white;
    border-collapse: collapse;
    border-color: white;
    width: 10cm;
    height: 9cm;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.border{
border: none;
padding-bottom: 10px;
padding-left: 20px;
border-color: white;
color: #A2A2A2;
}
.box1{
    text-align: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-bottom: 10px;
}
input[type="submit"]{
    background-color:#000036;
    color:white;
    width: 100%; 
    box-sizing: border-box;
    padding: 7px;  
    cursor: pointer;
}
.box{
    text-align: left;
    padding-left: 22px;
    padding-right: 30px;
    padding-bottom: 17px;
    border: none;
    font-size: 12px;
    }
    .center{
        margin:0 auto;
        width: 50%;
    }
    input[type="text"],input[type="password"]{
      padding-right: 208px;
        font-size: 11px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        background-color: #F9F9F9;
    }
    .logo{
        padding-top: 0px;
        border-radius: 50%;
        border: none;
        margin: 0 auto;
        display: flex; 
        justify-content: center;
    }
    .imgborder{
        border:none;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .border3{
        border: none;
        padding-bottom: 10px;
        padding-left: 20px;
        border-color: white;
        color: rgb(145, 144, 144);
        font-size: 12px;
        }
        .fog{
            text-align: left;
            padding-left: 22px;
            padding-right: 30px;
            padding-bottom: 17px;
            border: none;
            font-size: 12px;
            text-align: center;
        }
        .face{
            position: absolute; width: 24px; height: 16px; padding: 10px;left: 90px;
        }
        .gmail{
            position: absolute; width: 24px; height: 9px; padding: 12px;left: 99px;
        }
        .login{
            position: absolute; width: 24px; height: 10px; padding: 11px;left: 135px;
        }
        .span{
            color: #111170;
        }