h2{
    color:blue;
    text-align:center;
    font-size:xx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;
    padding-bottom: 4px;
    border-color: white;
}
table{
    border-color: rgb(180, 158, 158);
    margin: 0 auto;
    border-collapse: collapse;
    border-color: white;
    width: 10cm;
    height: 9cm;
}
.border{
border: none;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border-color: rgb(255, 255, 255);
}
.box1{
    text-align: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    padding-bottom: 20px;
}
input[type="submit"]{
    background-color: #001a4b;
    color: white;
    width: 100%; 
    box-sizing: border-box;
    padding: 7px;  
    cursor: pointer;
    border:none;
}
.box{
    text-align: left;
    padding-left: 22px;
    padding-right: 30px;
    padding-bottom: 17px;
    background-color: white;
    border: none;
    }
    .img{
        border: none;
        position: relative;
        left: 95%;
        cursor: pointer;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .center{
        margin:0 auto;
        width: 50%;
    }
    .border2{
        padding-top: 0px;
        border-radius: 50%;
        margin: 0 auto;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input[type="text"],input[type="password"]{
        border-color:white;
        padding-left: 200px;
    }
    .logo{
        padding-top: 0px;
        border: none;
        margin: 0 auto;
        display: flex; 
        justify-content: center;
        background-color:#517B93;
    }
    .border3{
        border: none;
        background-color:#547E96;
    }
    .mid{
        text-align: center;
        border: none;
    }